/* Переменные */
:root {
  --color-white: #fff;
  --color-green: #6ef25c;
  --color-text: #5a5a5a;
  --color-gray: #9e9e9e;
  --color-light-gray: #e9e9e9;
  --color-text-black: #262626;

  --color-green-opacity: rgb(118, 188, 33, .8);

  --background-black-opacity: rgb(0, 0, 0, .7);
  --background-light-black-opacity: rgb(0, 0, 0, .5);
  --background-grey: rgb(225, 225, 225, .3);

  --box-shadow-color: 0 0 10px rgb(0 0 0 / 0.3);

  /* Work vars */
  --work-wrapper: 900px;
  --work-element: 400px;
  --work-year: 40px;
  --work-border-left: 3px;

  --work-margin: calc(var(--work-wrapper) / 2 - var(--work-element));

  --work-indent-before: calc(0px - var(--work-margin));
  --work-indent-after: calc(0px - var(--work-margin) - var(--work-year) / 2);

  --work-animation-hidden: calc(110vw / 2);
  --work-animation-end-margin: 10px;
}

*{  
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  
}

a {
  text-decoration: none;
  color: darkgray;
  transition: all .25s ease-in-out;
}
a:hover {
  color: var(--color-green);
}

/* Header стили */
.header {
  position: relative;
  bottom: 80px;
  height: 110vh;
  /* clip-path: circle(63.5% at 50% 0); */
}

.header__background {
  position: absolute;
  height: inherit;
  width: 100%;
  object-fit: cover;
  /* filter: blur(1px) opacity(.9) saturate(200%); */
}
.header__background-wrapper {
  position: absolute;
  height: inherit;
  width: 100%;

  background: rgb(0, 0, 0, .5);

  z-index: 1;
}

#hamburger, .menu-hamburger {
  display: none;
}

.header-top {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 80px;

  color: var(--color-white);
  background: var(--background-black-opacity);

  z-index: 3;
}
.header-top a.link {
  color: var(--color-white);
  text-align: center;
}

.logo {  
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 260px;
  font-size: 30px;
  white-space: nowrap;
}

.menu-element {
  margin-right: 25px;

  font-size: 15px;
}
.menu-element:last-child {
  margin-right: 0;
}
.menu-element a.link:hover {
  color: var(--color-green);
}

.header-center {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);

  color: var(--color-white);

  z-index: 2;
}
.header-center__wrapper {
  width: 100%;
  padding: 20px 0;

  background: var(--background-black-opacity);
  text-align: center;
}

.name {  
  font-size: 58px;
  line-height: 74px;
}

.description {
  display: inline-block;
  width: 672px;
  font-size: 22px;
  line-height: 1.5em;
  white-space: nowrap;
  border-right: 3px solid transparent;
  overflow: hidden;    
}

/* Секция обо мне */
.about-me {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 80px 160px 60px;
}

.about-me .row1 {
  display: flex;
  /* flex-direction: row; */
  width: 100%;
  gap: 60px;
}

.row {
  width: 90%;
}

.about-me .left {
  flex: 1 1 60%;
  margin-left: 1rem;
  margin-right: 1rem;
}
.about-me .right {
  flex: 1 1 60%;
}

.about-me__image {
  width: 350px;
  margin-left: auto;
  border-radius: 10px;
  filter: drop-shadow(10px 10px 10px var(--background-black-opacity));
}

.about-me__title {
  text-align: center;
  margin-bottom: .8em;
  font-size: 36px;
}

.about-me__description {
  font-size: 20px;
  color: var(--color-text);
  margin-bottom: 15px;
}

ul.about-me__extra {
  color: var(--color-text);
  font-size: 20px;
  margin-top: 20px;
}

.about-me__extra-element {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.about-me__extra-element:last-of-type {
  margin-bottom: 0;
}

/* Секция достижения */
.achievements {
  flex-direction: column;
  position: relative;
  padding: 80px 0 80px;
}
.achievements:before,
.achievements:after {
  content: "";
  position: absolute;

  border: 100px solid transparent;
}
.achievements:before {
  top: 0;
}
.achievements:after {
  bottom: -140px;
}
/* Подвал сайта */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background-color: rgb(243, 242, 242);
}

.footer-about {
  color: var(--color-text);
}

/* Общие стили */
html {
  scroll-behavior: smooth;
}

a.link {
  color: var(--color-green);
  fill: var(--color-green);
  text-decoration: none;
  transition: opacity .25s ease;
}
a.link:hover {
  opacity: .7;
}

.block-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.direction {
  display: flex;
  flex-direction: column;
  margin-top: .5rem;
}

.gray {
  color: var(--color-gray);
}

.bold {
  font-weight: 700;
  color: var(--color-text-black);
}

.second-title {
  position: relative;
  font-size: 28px;
  text-align: center;
  margin-bottom: 40px;
  display: inline-flex; /* Изменено на inline-flex */
  align-items: center; /* Выравниваем элементы по центру по вертикали */
}

.second-title:after {
  --underline-width: 60px;
  content: "";
  display: inline-block;
  width: var(--underline-width);
  height: 2px;
  position: absolute;
  bottom: -7px;
  left: calc(50% - var(--underline-width) / 2);
  background: var(--color-green);
}

.second-title img {
  margin-left: 5px;
  width: 50px;
  height: 50px;
}


.container {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 20px; /* Добавляем промежуток между блоками */
}

.text {
  padding: 20px; /* Добавляем отступ вокруг текста */
  
}

.image {
  background-size: cover;
  background-position: center;
}


/* Слайдер изображений */
.slider {
  position: relative;
  display: flex;
  max-width: 100%;
  height: auto;
  padding-bottom: 50px;
  overflow-x: hidden;
}

.slider__wrapper {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  min-width: 100%;

  transition: all .5s ease;
}

.slider__link {
  flex: 1 1 33%;  
}

.slider__link img {
  margin-bottom: 1rem;
}

.slider__image {
  width: 100%;
  max-width: 250px;
}

.slider__input {
  display: none;
}

.slider__controls {
  width: 100%;
  position: absolute;
  bottom: 0;
  gap: 20px;
}

.slider__controls-element {
  display: inline-block;
  width: 40px;
  height: 8px;

  border-radius: 8px;
  background: rgb(0 0 0 / 20%);

  cursor: pointer;
  transition: all .25s ease;
}
.slider__controls-element:hover,
.slider__input:first-of-type:checked ~ .slider__controls .slider__controls-element:first-of-type,
.slider__input:nth-of-type(2):checked ~ .slider__controls .slider__controls-element:nth-of-type(2) {
  background: var(--color-green);
}

.slider__input:first-of-type:checked ~ .slider__wrapper:first-of-type {
  margin-left: 0;
}
.slider__input:nth-of-type(2):checked ~ .slider__wrapper:first-of-type {
  margin-left: -100%;
}

@media screen and (max-width: 1350px) {
  .logo {
      font-size: 32px;
  }
  .row1 {
    flex-direction: row;
    align-items: center;
  }
  
}

@media screen and (max-width: 1200px) {
  /* Menu */
  .logo {
      font-size: 28px;
  }

  .row1 {
    flex-direction: row;
    align-items: center;
  }  

  .menu-element {
      font-size: 18px;
      margin-right: 10px;
  }

  .menu-element__link.home svg {
      width: 20px;
      height: 20px;
  }

  .switcher-container {
      width: 200px;
  }

  /* About me */
  .about-me__image {
      width: 300px;
  }

  .about-me__title {
      font-size: 32px;
  }

  .about-me__description, ul.about-me__extra {
      font-size: 18px;
  }

  /* Общие стили */
  .slider__image {
      max-width: 200px;
  }
}

@media screen and (max-width: 992px) {
  :root {
      /* Work vars */
      --work-wrapper: 700px;
      --work-element: 300px;
  }
  .row1 {
    flex-direction: column;
    align-items: center;
  }
  .mobi__none {
    display: none !important;
  }

  .container1 {
    display: flex !important;
    flex-direction: column;
  }

  /* Menu */
  .logo {
      font-size: 24px;
  }

  .menu-element {
      font-size: 16px;
      margin-right: 5px;
  }

  .menu-element__link.home svg {
      width: 18px;
      height: 18px;
  }

  /* Header */
  .name {
      font-size: 40px;
      line-height: 54px;
  }

  .description {
      width: 615px;
      font-size: 20px;
  }

  /* About me */
  .about-me .row {
      gap: 40px;
  }

  .about-me__image {
      width: 250px;
  }

  .about-me__title {
      font-size: 24px;
  }

  .about-me__description, ul.about-me__extra {
      font-size: 16px;
  }

  .about-me__extra-icon {
      width: 20px;
      height: 20px;
  }
  .about-me__iframe {
      max-width: 100%;
  }

  .support-button {
      margin: 10px auto;
  }

  /* Skills */
  .skills-wrapper {
      width: 90%;
  }

  .skills-wrapper .left {
      padding-right: 10px;
      max-width: 60%;
      gap: 10px;
  }

  .skills-list__row {
      gap: 10px;
  }

  .skills-list__element {
      flex: 1 1 32%;
      max-width: 32%;
  }

  .skills-list__element > *:first-child {
      flex: 1 1 30%;
  }
  .skills-list__element > *:last-child {
      font-size: 18px;
      flex: 1 1 60%;
  }

  /* интересы */
  .interests {
      padding: 40px 10px;
  }

  .interests__list {
      gap: 10px;
  }

  .interest-wrapper {
      width: 32%;
  }

  .interest-image {
      width: 150px;
  }

  .interest-title {
      font-size: 18px;
      text-align: center;
  }

  /* Общие стили */
  .section-description {
      font-size: 16px;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  /* Menu */
  .switcher-container {
      width: 150px;
  }

  .row1 {
    flex-direction: column;
    align-items: center;
  }
  .container1 {
    display: flex !important;
    flex-direction: column;
  }

  .mobi__none {
    display: none !important;
  }

  .switcher-wrapper {
      width: 100px;
  }

  .switcher {
      font-size: 14px;
  }

  .lang-placeholder {
      width: 30px;
      height: 25px;
  }

  .switcher-wrapper input[type="radio"]:nth-of-type(1):checked ~ .lang-placeholder {
      left: 8px;
  }
  .switcher-wrapper input[type="radio"]:nth-of-type(2):checked ~ .lang-placeholder {
      left: 35px;
  }
  .switcher-wrapper input[type="radio"]:nth-of-type(3):checked ~ .lang-placeholder {
      left: 63px;
  }
}

@media screen and (max-width: 768px) {
  /* Menu */
  .menu-hamburger {
      position: fixed;
      top: 20px;
      right: 20px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 26px;
      width: 32px;

      z-index: 4;
  }

  .row1 {
    flex-direction: column;
    align-items: center;
  }

  .container1 {
    display: flex !important;
    flex-direction: column;
  }

  .mobi__none {
    display: none !important;
  }
  
  .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: var(--color-green);
  }

  .line1 {
      transform-origin: 0 0;
      transition: transform 0.4s ease-in-out;
  }

  .line2 {
      transition: transform 0.2s ease-in-out;
  }

  .line3 {
      transform-origin: 0 100%;
      transition: transform 0.4s ease-in-out;
  }

  #hamburger {
      display: none;
  }

  #hamburger:checked ~ .header-top {
      transform: translateX(0);
  }

  #hamburger:checked ~ .menu-hamburger .line1 {
      transform: rotate(45deg);
  }

  #hamburger:checked ~ .menu-hamburger .line2 {
      transform: scaleY(0);
  }

  #hamburger:checked ~ .menu-hamburger .line3 {
      transform: rotate(-45deg);
  }

  .header-top {
      position: fixed;
      right: 0;

      flex-direction: column;
      width: 50%;
      height: 100vh;

      background: #1d1a1a;
      transform: translateX(100%);
      transition: transform .25s ease;
  }

  .logo {
      display: block;
      width: 100%;
      text-align: center;
      white-space: normal;
  }

  .navigation {
      margin: 20px 0;
  }

  .menu {
      flex-direction: column;
      gap: 10px;
  }

  .menu-element {
      margin-right: 0;
      font-size: 18px;
  }

  .menu-element__link.home svg {
      width: 24px;
      height: 24px;
  }

  .switcher-container {
      width: 100%;
  }

  /* Header */
  .header {
      bottom: 0;
  }

  .name {
      font-size: 34px;
      line-height: 74px;
  }

  .description {
      font-size: 18px;
      width: 90%;
      white-space: normal;
      animation: none;
  }

  .description span {
      white-space: nowrap;
  }

  /* About me */
  .about-me {
      padding: 40px 10px;
      flex-direction: column;
  }

  .about-me .row {
      flex-direction: column;
      align-items: center;
      gap: 20px;
  }

  .about-me__extra-icon {
      min-width: 24px;
      min-height: 24px;
  }

  .about-me__iframe {
      width: 100%;
      height: 100%;
  }    

  /* Общие стили */
  .slider {
      max-width: 95%;
  }

  .slider__link {
      flex: 1 1 31%;
      max-width: 31%;
  }

  .slider__image {
      width: 100%;
      max-width: 100%;
  }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul{
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
p,
ul,
li {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}
ul {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.additional-info {
  display: none;
  opacity: 0;
  margin-top: .5rem;
  margin-bottom: 3rem;
  transition: opacity .5s ease; 
  cursor:default;
  background-color: #f1f1f1;
  border-radius: 10px;
  border: 1px solid black;
}

.additional-info__test {
  display: none;
  opacity: 0;
  font-size: 16px;
  margin-bottom: 0;
  margin-left: 5rem;
  margin-right: 5rem;
  border-radius: 10px;
  border: 1px solid black;
  padding: 7px;
  background-color: #f1f1f1;
}

.additional-info h2{
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 10px;
  margin-inline-end: 5px;
}

.additional-infoo {
  margin-top: .3em;  
}

.priemushch {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}
.priemushch__spisok {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 10px;
  margin-inline-end: 5px;
  font-weight: lighter;
  font-size: 14px;
  list-style-type: disc;
  list-style-position: inside;  
}

.passport__border{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
  
}

.passport__border__pas {
  font-size: 17px;  
  border-bottom: 1px solid red;
}

.products {
  /* margin-left: 5rem; */
  display: flex;
  flex-direction: column;
  height: 3rem;
  width: 100%;
  border-radius: 10px;
  background-color: #e9e9e9;
  margin-bottom: 1rem;
  cursor: pointer;
  user-select: none;
  justify-content: center;
}

.products:hover h2 {
 font-size: 110%;
 color: var(--color-green);
}

.products h2 {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  text-align: left;
  margin: 0;
  padding-left: 1rem;
  font-size: 17px;
}
.products-list {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column; 
   
}

.products__description {
  font-size: 16px;
  margin-bottom: 0;
  margin-left: 5rem;
  margin-right: 5rem;
}

.products__about {
  font-size: 14px;
  font-weight: bold;
}

.products__about__end {
  font-size: 14px;
  font-weight: bold;
}

.algoritm__wybor{
  font-size: 16px;
  font-weight: bold;
  color: red;
  text-align: center;
  
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
  font-size: 13px;
  user-select: none;
  font-weight: bold;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

td {
  border-bottom: 1px solid #ddd;
  text-align: center;
}


tr{
  width: 60px;
}
tr:hover {
  background-color: #ddd;
}

th {
  position: relative;
  height: 120px;
}

.material {
  position: absolute;
  right: -53px; 
  top: 80%;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}

.rotate {
  position: absolute;
  bottom: +10px; 
  left: 50%;
  transform: translateX(-50%);
}

.material {
  transform: rotate(-90deg);
}

.rashifrofka{
  font-size: 18px;
  font-weight: bold;
}

.contacts_email {
  display: flex;
  flex-direction: row;
}

.emails {
  margin-left: .5rem;
}

.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid black;
  transition: transform 0.4s ease;
  margin-right: 1.5rem;
}

.open .arrow {
    transform: rotate(180deg); 
    border-top: 8px solid rgb(99, 18, 220);
}

.argunitPX {
  color: rgb(113, 108, 108);
  border-bottom: 2px solid red;
  cursor: pointer;
}
 
.argunitPX:hover {
  font-size: 105%;
  /* color: rgb(255, 0, 0); */
}

.text__fyl {
  user-select: none;
}

.rashifrofka__info {
  padding-left: 10px;
}

.super_table{
  position: sticky;
  top: 0;
  left: 50%;
  height: 80vh;
  width: 90vw;
}

.rashifrofka_abriav {
  font-size: 12px;
}

.red__flag {
  color: red;
  font-weight: 900;
  font-size: 110%;
}

.products__right {
  font-size: 16px;
  font-weight: bold;
  background-color: #d4d0d0;
  border-radius: 6px;
  padding: 3px;
  margin-inline-start: 10px;
  margin-inline-end: 5px;
  margin-top: 2em;
}

.thife__menu {
  font-size: 15px;
  margin-top: .3em;
}

.greann {
  border-top: 8px solid rgb(0, 0, 0);
}

.material-symbols-outlined {
  color: blueviolet;
}

.close_btn {
  color: black;
}

.span__close_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow__up {
  color: #1d1a1a;
}
.arrow__up:hover{
  font-size: 160%;
  color: #9e9e9e;
}

.method__precent {
  display: flex;
  flex-direction: column;
}

.method__precent img, h3{
  text-align: center; /* Выравниваем содержимое по центру */
}

.px__img {
  display: block; /* Делаем изображение блочным элементом */
  margin: 0 auto; /* Устанавливаем автоматические отступы по горизонтали, чтобы изображение было посередине */
  width: 60%;
  height: 60%;
  margin-bottom: 2em;
}

.spisok__tit {
  font-size: 14px;
}

.m__B__S {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 5px;
  font-weight: lighter;
  font-size: 14px;
}

.method__precent h2 {
  font-size: 14px;
  font-weight: lighter;
}

.grrrab {
  font-size: 15px;
  font-weight: 900;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 10px;
  margin-inline-end: 5px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.recomend {
  font-size: 14px;
  font-weight: lighter;
}

.no__otstup {
  margin-bottom: 5px;
  margin-top: 0;
}
.otstup {
  font-size: 14px;
  font-weight: bold;
  margin-top: 150px;
}

.mar__top {
  margin-top: 10px;
  padding-top: 10px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 10px;
  margin-inline-end: 5px;
}

.polosa {
  padding-bottom: 15px;
  border-top: 1px solid black;
}

.footer__links {
  font-size: 8px;
}

.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  margin-left: 15px;
}

.left-div {
  display: flex;
  align-items: center; /* Центрируем содержимое по вертикали */
  justify-content: center; /* Центрируем содержимое по горизонтали */
  margin-right: 1em;
}
.right-div{
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрируем содержимое по вертикали */
  justify-content: center;
  /* align-self: flex-end; */
  /* margin-left: 1em; */
}

.bottom-div {
  margin-top: 20px;
  grid-column: 1 / span 2;
  align-items: center;
}

.img__about {
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  /* width: 90%;
  height: 90%; */
}

.margin__about{
  border: 1px solid black;
  border-radius: 15px;
  padding: 1em;
}

.otstup__footer {
  margin-bottom: 5em;
}

.emails__centre {
  text-align: center;
}